

  <dialog id="modal-dialog" class=" w-full h-1/2 border-4 border-primaryBg bg-primaryFont m-auto p-5 md:w-3/4 md:h-1/2">

    <div class="h-full flex flex-col justify-between items-center ">
  <!--email and copy button -->

      <div class="p-3 flex flex-col items-center justify-center gap-y-2">
        <h4 class='text-accentPink text-2xl md:text-4xl'>Email:</h4>
          <p class=' text-accentGreen text-xl md:text-3xl'>paulsissonsemail@gmail.com</p>
          <button id="copy-email" class='p-1 w-full border-y-[1px] border-primaryBg text-accentBlue text-xl'>copy</button>
      </div>

    <!-- phone and copy button -->

      <div class="p-3 flex flex-col items-center justify-center gap-y-2">
        <h4 class='text-accentPink text-2xl md:text-4xl'>Phone:</h4>
        <p class=' text-accentGreen text-xl md:text-3xl'>205-520-8659</p>
        <button id="copy-phone" class='p-1 w-full border-y-[1px] text-accentBlue text-xl'>copy</button>

    <!-- close button -->

      </div>

      <button id="close-button" class="w-full flex items-center justify-center mx-auto my-3 text-2xl md:text-4xl text-primaryBg tracking-wide">
        <span class="text-accentPink">&#60;/</span>
        close
        <span class="text-accentPink">&#62;</span>
      </button>
    
    </div>
  </dialog>


  <!-- CUSTOM STYLES FOR DIALOG / BACKDROP -->

<style>

  dialog::backdrop {
    background-color: black;
    opacity: .65;
    border: 5px double #5299D3;
  }

</style>

<script>
  //SELECTORS
  const modal = (document.getElementById("modal-dialog") as HTMLDialogElement);
  const openButton = document.getElementById("open-button");
  const closeButton = document.getElementById("close-button");
  const copyEmailButton = document.getElementById("copy-email");
  const copyPhoneButton = document.getElementById("copy-phone");

  //OPEN BUTTON
  if (openButton) openButton.addEventListener('click', () => {
    if (modal) {
      modal.showModal();
    }
  })

  //CLOSE BUTTON
  if (closeButton) closeButton.addEventListener('click', () => {
    if (modal) {
      modal.close();
    }
  })
  
  //CLOSE ON OUTSIDE CLICK
  modal.addEventListener("click", (e) => {
  const dialogDimensions = modal.getBoundingClientRect();
  if (
    e.clientX < dialogDimensions.left ||
    e.clientX > dialogDimensions.right ||
    e.clientY < dialogDimensions.top ||
    e.clientY > dialogDimensions.bottom
  ) {
    modal.close()
  }
})

//COPY BUTTONS
if(copyEmailButton) copyEmailButton.addEventListener('click', () => {
  navigator.clipboard.writeText('paulsissonsemail@gmail.com');
})

if(copyPhoneButton) copyPhoneButton.addEventListener('click', () => {
  navigator.clipboard.writeText('205-520-8659');
})

</script>